<div class="page-header">
    <h1>Risultati della ricerca <span ng-show="vm.searchTerm">per </span> <small>{{vm.searchTerm}}</small></h1>
</div>

<div class="row searchresults">
    <div ng-repeat="image in vm.results"
         class="col-lg-2 col-md-3 col-sm-4 col-xs-6 search-result-item" >

        <div class="item"
             ng-mouseenter="image.showTitle = true"
             ng-mouseleave="image.showTitle = false">
            <a href="#/detail/{{image.id}}">
                <img ng-src="{{image.uri}}" alt="{{image.title}}"/>

                <div class="title" ng-show="image.showTitle">
                    <div class="background"></div>
                    <div class="text">{{image.title}}</div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row" ng-show="!(vm.results && vm.results.length)">
    <div class="col-sm-12">
        <div class="jumbotron alert-danger">
            <h2>
                <span class="glyphicon glyphicon-warning-sign">
                </span> La ricerca non ha prodotto risultati</h2>
            <p>Cambia i criteri di ricerca o <a ng-click="showAll()">visualizza tutto il catalogo</a></p>
        </div>
    </div>
</div>
